* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    background: #f1f1f1;
}
h1{
    text-align: center;
    color: #5b3656;
}

/* Header/Blog Title */
.header {
    height: 65vh;
    padding: 0;
    text-align: center;
    background: white;
    background-image: url(../img/capa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style links de navegação/topnav */
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}#logoF{
    width:5%;
    height:5%;
    float:right;
}
.topnav a:hover {    /* Change color on hover */
    background-color: #ddd;
    color: black;
}

/* Create two unequal columns that floats next to each other */

.leftcolumn {       /* Left column */ 
    float: left;
    width: 75%;
}


.rightcolumn {      /* Right column */
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
/* Add a card effect for articles */
.cardl, .cardr {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Style Imagens */
.cardl img{
    width: 35%;
    height: 50%;
}
.cardr img{
    width: 60%;
}
.slidesIMG {display:none;}

/* colors 1- #78c5d0 - azul
    2- #5b3656 - roxo
    3- #ff3363 - rosa
*/

/*  */