* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    background: #f1f1f1;
}
h1{
    text-align: center;
    color: #5b3656;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}
p{
    text-align: center;
}
a{
    font-family: 'Libre Baskerville', serif;
}

/* Header/Blog Title */
.header {
    height: 65vh;
    padding: 0;
    text-align: center;
    background: white;
    background-image: url(../img/capa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style links de navegação/topnav */
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}#logoF{
    width:5%;
    height:5%;
    float:right;
}
.topnav a:hover {    /* Change color on hover */
    background-color: #ddd;
    color: #ff3363;
}

/* Create two unequal columns that floats next to each other */

.leftcolumn {       /* Left column */ 
    float: left;
    width: 75%;
}


.rightcolumn {      /* Right column */
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
/* Add a card effect for articles */
.cardl, .cardr {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
.cardl{
    min-height: 60vh;
}

/* Style Imagens */
.slides img{
    margin: 0 auto;
    width: 40vw;
}
.cardr img{
    width: 60%;
    padding-top: 5%;
}
.slidesIMG {display:none;}

/* colors 1- #78c5d0 - azul
    2- #5b3656 - roxo
    3- #ff3363 - rosa
*/
/* fonts ---
    font-family: 'Poppins', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto Slab', serif;
*/

/* styl formulario */

.cardF{ 
    background-color: white;
    padding: 13%;
    margin-top: 0%;
}
.rightcolumnF {      /* Right column formulario */
    float: left;
    width: 40%;

    background-color:white;
    padding: 5%;
    margin-left: 5%;
}
.leftcolumnF {       /* Left column formulario */ 
    float: left;
    width: 55%;
}
.cardFr{
    margin-top: 10%;

    background-color: white;
    padding-left: 10%;
    padding: 20%;
}